@page
@model LePetitRedu.Pages.Books.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].ParutionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Format)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Read)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Possessed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Serie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Book) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParutionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Format)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Read)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Possessed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serie.SerieId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BookId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BookId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BookId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
